<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%#= form.label :category_id %>
    <%#= form.number_field :category_id %>
    <%= form.label :category_id, 'Category', class: "col-2" %>
    <%= form.select :category_id, Category.pluck(:title, :id), include_blank: 'Any Category', class: "col-10 custom-select" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
